/**
 * library/settings/colors.sass.
 */

/**
 * Descriptive colors from guideline.
 */

$color-black: #000000
$color-white: #ffffff



/**
 * Functional color variables.
 */

$color-text: $color-black
