/**
 * partials/entry-post.sass
 */

.entry-post
  width: 262px

  +breakpoint($breakpoint-max-sm)
    margin-bottom: 67px

  h1
    margin: 16px 0 0
    font-size: $font-size-medium
    line-height: 22px
    color: $color-title

.entry-post__content
  line-height: 23px

  img
    display: block

.entry-post__author
  margin-top: 13px
  margin-bottom: 22px
  font-size: 0

  +breakpoint($breakpoint-sm)
    margin-top: 35px


  > div
    display: inline-block
    vertical-align: middle
    overflow: hidden
    width: 32px
    height: 32px
    margin-right: 10px
    border-radius: 100%

  > span
    display: inline-block
    vertical-align: middle
    width: calc(100% - 42px)
    font-family: $font-text
    font-size: $font-size-small
    font-style: italic
    line-height: 16px
    color: $color-gray


/**
 * Modifiers.
 */

.entry-post--featured
  width: 555px

  +breakpoint($breakpoint-sm)
    margin-bottom: 47px

  h1
    margin-top: 15px

    +breakpoint($breakpoint-min-sm)
      font-size: $font-size-h1
      line-height: 35px

  .entry-post__image
    +breakpoint($breakpoint-sm)
      padding-bottom: 5px

  .entry-post__author
    margin-top: 8px

    +breakpoint($breakpoint-max-sm)
      margin-top: 18px

    +breakpoint($breakpoint-max-xs)
      margin-top: 13px

    > div
      +breakpoint($breakpoint-min-sm)
        width: 45px
        height: 45px

    span
      width: calc(100% - 55px)

  +breakpoint($breakpoint-min-sm)
    .entry-post__content
      display: none

.secondary-entries
  .entry-post
    h1
      margin-top: 0

    .entry-post__author
      margin-top: 20px
