/**
 * partials/header.sass
 */

.header
  height: 56px
  margin-bottom: 76px
  border-bottom: 1px solid #979797

  .logo
    width: 45px
    height: 45px
    margin-top: 7px
    z-index: -1

    +breakpoint($breakpoint-max-sm)
      position: absolute
      width: 100%
      text-align: center

    +breakpoint($breakpoint-min-md)
      float: left
