/**
 * partials/navigation.sass
 */

.main-navigation
  padding-top: 20px

  +breakpoint($breakpoint-min-md)
    text-align: right

  ul
    font-size: 0

    +breakpoint($breakpoint-max-sm)
      @extend %transition-simple
      visibility: hidden
      position: absolute
      top: 56px
      left: 0
      width: 100%
      padding: 0 15px
      background: white
      opacity: 0

    &.is-active
      visibility: visible
      opacity: 1

  li
    +breakpoint($breakpoint-min-md)
      display: inline-block
      margin-left: 15px
      margin-right: 14px

    +breakpoint($breakpoint-max-sm)
      margin: 10px 0

  a
    @extend %transition-simple
    font-size: $font-size
    text-decoration: none
    text-transform: uppercase
    color: $color-menu
    cursor: pointer

    &:hover
      color: black

  > button
    display: none
    margin: 0
    padding: 0
    width: 24px
    height: 19px
    border: none
    cursor: pointer
    background: white

    +breakpoint($breakpoint-max-sm)
      display: block

    &::before
      content: ""
      display: block
      height: 3px
      background: black
      box-shadow: 0 -8px 0 0 black, 0 8px 0 0 black
